$card-border-width: 0px;
$card-border-radius: 0px;
$card-inner-border-radius: 0px;

@import "main";

@import "~bootstrap/scss/mixins/pagination";
@import "~bootstrap/scss/mixins/badge";
@import "~bootstrap/scss/mixins/alert";
@import "~bootstrap/scss/mixins/forms";

@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/forms";
