$green: #00cc67;
$red: #FFAD9E;

$background-color: #f7f7f7;

$enable-dark-mode:            false !default;


$font-family-sans-serif: -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/buttons";
@import "~bootstrap/scss/mixins/transition";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/mixins/clearfix";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/mixins/text-truncate";
@import "~bootstrap/scss/mixins/deprecate";
@import "~bootstrap/scss/mixins/caret";
@import "~bootstrap/scss/mixins/lists";
@import "~bootstrap/scss/mixins/color-mode";

@import "~bootstrap/scss/vendor/rfs";

@import "~bootstrap/scss/bootstrap-grid";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";

@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/helpers/position";
@import "./css/fontello.css";

body {
  background-color: $background-color;

  main {
    margin-bottom: 65px;
  }
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.img-overlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.second-menu {
  flex-wrap: nowrap !important;
  overflow: auto;
  white-space: nowrap;
  .nav-link {
    color: #0F291D;
  }
  .nav-link.active {
    border-bottom: 1px solid #0F291D;
  }
  .nav-link:hover {
    border-bottom: 1px solid #0F291D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .nav-link:hover:after {
  width: 80%;
  left: 0;
}
}

.second-menu::-webkit-scrollbar {
  display: none;
}

.second-menu-container {
  background-color: #00cc67;
}

.footer-copyright {
  background-color: #0f0f0f;
}
