$green: #00cc67;

$font-family-sans-serif: -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/buttons";
@import "~bootstrap/scss/mixins/transition";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/mixins/clearfix";
@import "~bootstrap/scss/mixins/background-variant";
@import "~bootstrap/scss/mixins/list-group";
@import "~bootstrap/scss/mixins/text-emphasis";
@import "~bootstrap/scss/mixins/text-truncate";
@import "~bootstrap/scss/mixins/text-hide";
@import "~bootstrap/scss/mixins/deprecate";
@import "~bootstrap/scss/mixins/caret";
@import "~bootstrap/scss/mixins/nav-divider";
@import "~bootstrap/scss/mixins/screen-reader";
@import "~bootstrap/scss/mixins/lists";

@import "~bootstrap/scss/vendor/rfs";

@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/screenreaders";
@import "~bootstrap/scss/utilities/stretched-link";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";

@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/utilities/position";
@import "./css/fontello.css";

body {
  background-color: #f7f7f7;

  main {
    margin-bottom: 65px;
  }
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.img-overlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.second-menu {
  flex-wrap: nowrap !important;
  overflow: auto;
  white-space: nowrap;
  .nav-link {
    color: white;
  }
  .nav-link.active {
    border-bottom: 1px solid white;
  }
  .nav-link:hover {
    border-bottom: 1px solid white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .nav-link:hover:after {
  width: 80%;
  left: 0;
}
}

.second-menu::-webkit-scrollbar {
  display: none;
}

.second-menu-container {
  background-color: #00cc67;
}

.footer-copyright {
  background-color: #0f0f0f;
}
